<div class="container">
  <h1>Pokedex</h1>

  <div class="search">
    <input type="text" [(ngModel)]="search">
    <i class="material-icons" (click)="filterName()">Pesquisar</i>
  </div>

  <div class="type">
    <select [(ngModel)]="selectedType" (change)="filterType()">
      <option *ngFor="let item of types">{{item}}</option>
    </select>
  </div>

  <ul class="pokedex">
    <li *ngFor="let pokemon of pokemons" class="card {{ pokemon.types[0] }}" routerLink="/details/{{pokemon?.id}}">
      <img *ngIf="pokemon.id" class="card-image" src="https://cdn.traction.one/pokedex/pokemon/{{pokemon.id}}.png"
        alt="">
      <h2 class="card-title">{{pokemon.name}}</h2>
      <span *ngFor=" let type of pokemon.types" class="card-subtitle {{type}}-type">{{ type }}</span>
    </li>
  </ul>
</div>
