@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
	background: #EFEFBB;
	background: linear-gradient(to right, rgb(146, 201, 212), rgb(196, 153, 186));
	color: white;
	margin: 0;
	font-family: rubik !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
